*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: darkslategrey;
}
.box{
    background-color: midnightblue;
    color: mintcream;
    font-size: 3rem;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 16%;
    min-height: 150px;
    margin: 20px;
}
.fizz{
    background-color: orangered;
    color: yellow;
    font-size: 3rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 16%;
    min-height: 150px;
    margin: 20px;
}
.buzz{
    background-color: rgb(89, 255, 47);
    color: black;
    font-size: 3rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 16%;
    min-height: 150px;
    margin: 20px;
}
.fizzbuzz{
    background-color: rgb(255, 47, 161);
    color: blueviolet;
    font-size: 3rem;
    border-radius: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 16%;
    min-height: 150px;
    margin: 20px;
}